body {
    color: white;
<<<<<<< HEAD
    background-color:black;
    font-familyl: 'Sacramento', cursive;
    font-size: 32px;
    margin-top: 5%;
    margin: left: 20%;
    margin-right: 20%
}
=======
    background-color: black;
    font-family: 'Sacramento', cursive;
    font-size: 32px;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
 }
>>>>>>> 75559e8b514f54cda96fcd95aedbd630cf45dedb
